  <label for="permission-select">Select permission</label>
  <select id="permission-select" name="wiki_permission[level]"> 
    <option value="0">Can't see</option>
    <option value="1">Can Read</option>
    <option value="2">and Edit</option>
    <option value="3">and Edit Permissions</option>
    <input type="submit">    
  </select>